In [4]:
import pandas as pd
import numpy as np

# Load the large dataset
df = pd.read_csv("/large_synthetic_customer_data .csv")

In [5]:
# Display initial information
print("Initial Data Overview:")
print(df.head())
print("\nData Types:")
print(df.dtypes)
print("\nMissing Values:")
print(df.isnull().sum())
print("\nDataset Shape:", df.shape)

Initial Data Overview:
   Customer_ID    Name   Age Gender  Purchase_Amount Signup_Date  \
0         1001     Bob  38.0      M           479.53  2022/02/15
1         1002  Hannah  37.0      M           228.16  2022/02/15
2         1003     Bob  46.0      F           175.53  2022-04-25
3         1004   Frank  29.0      F           402.90  2022-01-10
4         1005     Bob  24.0      F           389.88  15-03-2022

  Membership_Status
0          Inactive
1            Active
2          INactive
3            Active
4            Active

Data Types:
Customer_ID            int64
Name                  object
Age                  float64
Gender                object
Purchase_Amount      float64
Signup_Date           object
Membership_Status     object
dtype: object

Missing Values:
Customer_ID            0
Name                   0
Age                  104
Gender                 0
Purchase_Amount      245
Signup_Date            0
Membership_Status      0
dtype: int64

Dataset Shape: (5200, 7)

In [6]:
# Handling Missing Values
print("\nHandling Missing Values...")
df['Age'].fillna(df['Age'].median(), inplace=True)
df['Purchase_Amount'].fillna(df['Purchase_Amount'].median(), inplace=True)
print("Missing Values After Handling:")
print(df.isnull().sum())

Handling Missing Values...
Missing Values After Handling:
Customer_ID          0
Name                 0
Age                  0
Gender               0
Purchase_Amount      0
Signup_Date          0
Membership_Status    0
dtype: int64

<ipython-input-6-22f02acb1532>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)
<ipython-input-6-22f02acb1532>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Purchase_Amount'].fillna(df['Purchase_Amount'].median(), inplace=True)

In [7]:
# Convert Signup_Date to a standard format
df['Signup_Date'] = pd.to_datetime(df['Signup_Date'], errors='coerce')
print("\nConverted Signup_Date to datetime format.")

Converted Signup_Date to datetime format.

In [ ]:
# Remove duplicate records
df.drop_duplicates(subset=['Customer_ID'], keep='first', inplace=True)
print("\nRemoved duplicate records. New shape:", df.shape)

In [8]:
# Standardizing Membership_Status text case
df['Membership_Status'] = df['Membership_Status'].str.lower().str.capitalize()
print("\nStandardized Membership_Status column.")

Standardized Membership_Status column.

In [9]:
# Detect and handle outliers using IQR
Q1 = df['Purchase_Amount'].quantile(0.25)
Q3 = df['Purchase_Amount'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
df['Purchase_Amount'] = np.where(df['Purchase_Amount'] > upper_bound, upper_bound, df['Purchase_Amount'])
df['Purchase_Amount'] = np.where(df['Purchase_Amount'] < lower_bound, lower_bound, df['Purchase_Amount'])
print("\nHandled outliers in Purchase_Amount.")

Handled outliers in Purchase_Amount.

In [10]:
# Feature Engineering: Create Age Groups
df['Age_Group'] = pd.cut(df['Age'], bins=[18, 25, 35, 45, 60, 80], labels=['18-25', '26-35', '36-45', '46-60', '61-80'])
print("\nCreated Age_Group column.")

Created Age_Group column.

In [11]:
# Data Aggregation: Calculate average purchase per age group
age_group_avg = df.groupby('Age_Group')['Purchase_Amount'].mean()
print("\nAverage Purchase Amount per Age Group:")
print(age_group_avg)

Average Purchase Amount per Age Group:
Age_Group
18-25    518.808042
26-35    526.920584
36-45    525.997688
46-60    527.673331
61-80    528.952900
Name: Purchase_Amount, dtype: float64

<ipython-input-11-0dab3ae2df1f>:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  age_group_avg = df.groupby('Age_Group')['Purchase_Amount'].mean()

In [12]:
# Normalization of Purchase_Amount (Min-Max Scaling)
df['Purchase_Amount_Norm'] = (df['Purchase_Amount'] - df['Purchase_Amount'].min()) / (df['Purchase_Amount'].max() - df['Purchase_Amount'].min())
print("\nNormalized Purchase_Amount column.")

Normalized Purchase_Amount column.

In [ ]:
# Save the cleaned dataset
df.to_csv("cleaned_large_customer_data.csv", index=False)
print("\nData Wrangling Completed. Cleaned data saved as 'cleaned_large_customer_data.csv'.")